body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(50, 50, 50);
}

table {
  border-collapse: collapse;
}
th {
  border: solid 1px rgb(200, 200, 200);
  padding: 5px;
  text-align: left;
}
td {
  border: solid 1px rgb(200, 200, 200);
  padding: 5px;
  text-align: right;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
